<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lottery.infrastructure.persistent.dao.IUserRaffleOrderDao">
    <resultMap id="dataMap" type="com.lottery.infrastructure.persistent.po.UserRaffleOrder">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="activity_id" property="activityId"/>
        <result column="activity_name" property="activityName"/>
        <result column="strategy_id" property="strategyId"/>
        <result column="raffle_type" property="raffleType"/>
        <result column="order_id" property="orderId"/>
        <result column="order_time" property="orderTime"/>
        <result column="order_state" property="orderState"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <update id="updateUserRaffleOrderStateUsed">
        update user_raffle_order
        set order_state = 'used', update_time = now()
        where order_id = #{orderId} and order_state = 'create'
    </update>

    <update id="updateUserRaffleOrderStateCancel">
        update user_raffle_order
        set order_state = 'cancel', update_time = now()
        where order_id = #{orderId} and order_state = 'create'
    </update>

    <select id="queryNoUseRaffleOrder" resultMap="dataMap">
        SELECT *
        FROM user_raffle_order
        <where>
            <if test="userId != null">
                user_id = #{userId}
            </if>
            <if test="activityId != null">
                and activity_id = #{activityId}
            </if>
            <if test="raffleType != null">
                and raffle_type = #{raffleType}
            </if>
            <if test="orderState != null">
                and order_state = #{orderState}
            </if>
        </where>
    </select>


    <insert id="insert" >
        insert into user_raffle_order( user_id, activity_id, activity_name, strategy_id, raffle_type,order_id, order_time, order_state)
        values(#{userId}, #{activityId}, #{activityName}, #{strategyId},#{raffleType} ,#{orderId}, #{orderTime}, #{orderState})
    </insert>



</mapper>
